gemfiles/*.lock
NOTES
test/debug.log
test/paper_trail_plugin.sqlite3.db
spec/dummy_app/config/database.yml
spec/dummy_app/db/*.sqlite3
spec/dummy_app/log/*
spec/dummy_app/tmp/*
spec/dummy/
coverage
pkg/*
*.gem
.bundle
.byebug_history
.rbenv-version
Gemfile.lock
vendor/*
.idea
.rvmrc
.tags
.tags_sorted_by_file
.ruby-version
.ruby-gemset
.rbenv-gemsets
