*.gem
*.sqlite3-journal
.bundle
.byebug_history
.idea
.rbenv-gemsets
.rbenv-version
.rspec_results
.ruby-gemset
.ruby-version
.rvmrc
.tags
.tags_sorted_by_file
Gemfile.lock
NOTES
coverage
gemfiles/*.lock
pkg/*
spec/dummy/
spec/dummy_app/config/database.yml
spec/dummy_app/db/schema.rb
spec/dummy_app/db/*.sqlite3
spec/dummy_app/log/*
spec/dummy_app/tmp/*
test/debug.log
test/paper_trail_plugin.sqlite3.db
vendor/*
