NOTES
test/debug.log
test/paper_trail_plugin.sqlite3.db
test/dummy/config/database.yml
test/dummy/db/*.sqlite3
test/dummy/log/*
test/dummy/tmp/*
spec/dummy/
coverage
pkg/*
*.gem
.bundle
.rbenv-version
Gemfile.lock
vendor/*
.idea
.rvmrc
.tags
.tags_sorted_by_file
.ruby-version
.ruby-gemset
